table {
	border: 3px solid silver;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th:hover {
	background-color: white;
	color: blue;
}
tr, th {
	background-color: black;
	color: silver;
}

tr, td {
	background-color: darkgreen;
	color: white;
}
